@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 90%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 90%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 90%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 142.09 70.56% 45.29%;
    --primary-foreground: 140.62 84.21% 92.55%;

    --secondary: 188.74 94.5% 42.75%;
    --secondary-foreground: 183.16 100% 96.27%;

    --muted: 240 5.03% 64.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 85.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 346.84 77.17% 49.8%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 80%;
    --input: 240 5.9% 80%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 270.74 91.01% 65.1%;
    --primary-foreground: 268.7 100% 95.49%;

    --secondary: 330.37 81.19% 60.39%;
    --secondary-foreground: 48 96.49% 88.82%;

    --muted: 215.29 19.32% 34.51%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 346.84 77.17% 49.8%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  .halloween {
    --background: 20 14.29% 4.12%;
    --foreground: 60 9.09% 97.84%;

    --card: 20 14.29% 4.12%;
    --card-foreground: 60 9.09% 97.84%;

    --popover: 20 14.29% 4.12%;
    --popover-foreground: 60 9.09% 97.84%;

    --primary: 24.58 94.98% 53.14%;
    --primary-foreground: 34.29 100% 91.76%;

    --secondary: 83.74 80.53% 44.31%;
    --secondary-foreground: 79.59 89.09% 89.22%;

    --muted: 215.29 19.32% 34.51%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 60 9.09% 97.84%;

    --destructive: 346.84 77.17% 49.8%;
    --destructive-foreground: 60 9.09% 97.84%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  .ocean {
    --background: 183.16 100% 96.27%;
    --foreground: 215 27.91% 16.86%;

    --card: 183.16 100% 96.27%;
    --card-foreground: 215 27.91% 16.86%;

    --popover: 183.16 100% 96.27%;
    --popover-foreground: 215 27.91% 16.86%;

    --primary: 188.74 94.5% 42.75%;
    --primary-foreground: 197 78.95% 14.9%;

    --secondary: 173.41 80.39% 40%;
    --secondary-foreground: 165.71 91.3% 9.02%;

    --muted: 240 5.03% 64.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 185.11 95.92% 90.39%;
    --accent-foreground: 226.23 57.01% 20.98%;

    --destructive: 346.84 77.17% 49.8%;
    --destructive-foreground: 60 9.09% 97.84%;

    --border: 185.11 95.92% 90.39%;
    --input: 214.29 31.82% 91.37%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}