@import "tailwindcss";

:root {
  --background: oklch(0.92 0.004 286.32);
  --foreground: oklch(0.141 0.005 285.823);

  --card: oklch(0.871 0.006 286.286);
  --card-foreground: oklch(0.141 0.005 285.823);

  --popover: oklch(0.967 0.001 286.375);
  --popover-foreground: oklch(0.141 0.005 285.823);

  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(0.95 0.052 163.051);

  --secondary: oklch(0.685 0.169 237.323);
  --secondary-foreground: oklch(0.951 0.026 236.824);

  --muted: oklch(0.705 0.015 286.067);
  --muted-foreground: oklch(0.442 0.017 285.786);

  --accent: oklch(0.871 0.006 286.286);
  --accent-foreground: oklch(0.141 0.005 285.823);

  --destructive: oklch(0.586 0.253 17.585);
  --destructive-foreground: oklch(0.941 0.03 12.58);

  --border: oklch(0.705 0.015 286.067);
  --input: oklch(0.705 0.015 286.067);
  --ring: oklch(0.141 0.005 285.823);

  --pango: oklch(0.274 0.006 286.033);
  --pango-foreground: oklch(0.92 0.004 286.32);

}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.967 0.001 286.375);

  --card: oklch(0.274 0.006 286.033);
  --card-foreground: oklch(0.967 0.001 286.375);

  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.967 0.001 286.375);

  --primary: oklch(0.558 0.288 302.321);
  --primary-foreground: oklch(0.946 0.033 307.174);

  --secondary: oklch(0.656 0.241 354.308);
  --secondary-foreground: oklch(0.941 0.03 12.58);

  --muted: oklch(0.442 0.017 285.786);
  --muted-foreground: oklch(0.552 0.016 285.938);

  --accent: oklch(0.37 0.013 285.805);
  --accent-foreground: oklch(0.92 0.004 286.32);

  --destructive: oklch(0.586 0.253 17.585);
  --destructive-foreground: oklch(0.941 0.03 12.58);

  --border: oklch(0.37 0.013 285.805);
  --input: oklch(0.37 0.013 285.805);
  --ring: oklch(0.871 0.006 286.286);

  --pango: oklch(0.92 0.004 286.32);
  --pango-foreground: oklch(0.274 0.006 286.033);
}

.halloween {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.928 0.006 264.531);

  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.928 0.006 264.531);

  --popover: oklch(0.278 0.033 256.848);
  --popover-foreground: oklch(0.928 0.006 264.531);

  --primary: oklch(0.705 0.213 47.604);
  --primary-foreground: oklch(0.954 0.038 75.164);

  --secondary: oklch(0.841 0.238 128.85);
  --secondary-foreground: oklch(0.967 0.067 122.328);

  --muted: oklch(0.373 0.034 259.733);
  --muted-foreground: oklch(0.551 0.027 264.364);

  --accent: oklch(0.21 0.034 264.665);
  --accent-foreground: oklch(0.928 0.006 264.531);

  --destructive: oklch(0.586 0.253 17.585);
  --destructive-foreground: oklch(0.941 0.03 12.58);

  --border: oklch(0.373 0.034 259.733);
  --input: oklch(0.373 0.034 259.733);
  --ring: oklch(0.872 0.01 258.338);

  --pango: oklch(0.92 0.004 286.32);
  --pango-foreground: oklch(0.274 0.006 286.033);
}

.ocean {
  --background: oklch(0.928 0.006 264.531);
  --foreground: oklch(0.13 0.028 261.692);

  --card: oklch(0.968 0.007 247.896);
  --card-foreground: oklch(0.13 0.028 261.692);

  --popover: oklch(0.967 0.003 264.542);
  --popover-foreground: oklch(0.13 0.028 261.692);

  --primary: oklch(0.715 0.143 215.221);
  --primary-foreground: oklch(0.302 0.056 229.695);

  --secondary: oklch(0.704 0.14 182.503);
  --secondary-foreground: oklch(0.277 0.046 192.524);

  --muted: oklch(0.551 0.027 264.364);
  --muted-foreground: oklch(0.373 0.034 259.733);

  --accent: oklch(0.872 0.01 258.338);
  --accent-foreground: oklch(0.13 0.028 261.692);

  --destructive: oklch(0.586 0.253 17.585);
  --destructive-foreground: oklch(0.941 0.03 12.58);

  --border: oklch(0.707 0.022 261.325);
  --input: oklch(0.707 0.022 261.325);
  --ring: oklch(0.278 0.033 256.848);

  --pango: oklch(0.274 0.006 286.033);
  --pango-foreground: oklch(0.92 0.004 286.32);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foregroud: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-pango: var(--pango);
  --color-pango-foreground: var(--pango-foreground);

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
